.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

img {
    width: 150px;
}

.nav-items>ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li {
    margin: 10px;
    padding: 10px;
}

.nav-items>ul>li>a{
    text-decoration: none;
    color: black;
}

.login{
    padding: 20px;
    cursor: pointer;
    margin-right: 20px;

}
/* body */

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 60px;
}
.shimmer-card{
    width: 280px;
    height: 380px;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
}

.shimmer-img{
    width: 100%;
    height: 150px;
    background-color: #f8f5f5;
}


.filter{
    display: flex;
}

.search{
    margin: 20px 0 10px 0;
}
.filter-btn{
    margin: 10px 0 10px 10px;
    cursor: pointer;
    padding: 0%;
    height: 20px;
    align-self: self-end;
}
.res-container{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.res-card{
    width: 280px;
    height: 380px;
    background-color: #f0f0f0;
    border: 1px solid transparent;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-img{
    width: 100%;
    height: 150px;
}

.res-menu{
    text-decoration: none;
    color: black;
}

/*About Us page */
.user-card{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    margin: 20px 20px;
}